body {
    font-family: Titillium Web;

}

a {
    text-decoration: none;
    color: black
}



nav a {
    padding: 8px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h3 {
    text-align: center;
}

footer h3 {
    text-align: left
}


div#get-started {
    font-size: 111%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

header a img {
    margin-left: auto;
    margin-right: auto;
    display: block
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header-img {
    display: none;
}

.bordered-box {
    border-width: 1px;
    border-style: solid;
    text-align: center
}

nav a.bordered-box {
    border-top-width: 0;
}

#main-line {
    font-family: Bangers;
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 7%;
    margin-left: 7%;
    margin-right: 14%;
    margin-top: 3%;
    margin-bottom: 3%;
}


@media (min-width: 500px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;

    }

    nav a {
        display: unset;
        justify-content: unset;
        align-items: unset;
    }

    nav a.bordered-box {
        border-style: none;
    }

    .two-paragraphs {
        width: 49.5%;
        display: inline-block;
    }

    .three-paragraphs {
        width: 32.333%;
        display: inline-block;
    }

    #main-line {
        font-size: 564%
    }

    div#get-started {
        font-size: 125%;
        width: 30%;
        margin-left: 35%;
        text-align: center;
    }

    nav,
    a img {
        margin-left: auto;
        margin-right: auto;
        display: block
    }

    nav {
        width: 435px;
    }
}

@media (min-width: 800px) {
    .header-img {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }

    .header-img img {
        width: 35rem;
        height: auto;
    }



    .splash {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }

    /* .splash h1 {
        padding-bottom: 10%;
        padding-left: 2%;
        padding-right: 2%;
    } */

    header a img {
        float: right
    }

    header nav {
        float: left;
    }
}